.sector-preview {
    background: #ffffff;
    border:3px solid rgb(190, 190, 190);
    color: #333;
    border-radius: 9px;
    padding: 15px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
    margin:.2rem;
    display:flex;
    transition: all 0.3s ease;
    gap: 10px;
  }
  
  .sector-preview:hover {
    background: #9F9F9F;
    border:3px solid rgb(87, 87, 87);
    transform: translateY(-5px);
  }
  
  .sector-preview h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .authreqbuttons{
    display:flex;
    gap: .2rem;
  }

  .authreq{
    background: #ffffff;
    border:3px solid rgb(190, 190, 190);
    color: #333;
    border-radius: 9px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
    height: 100px;
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  .authreq p{
    line-height:.5;
  }

  .small-button {
    padding: 8px 12px; /* Vertical and horizontal padding */
    font-size: 14px; /* Font size */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
    width: 70px;
}

.small-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.small-button:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Add shadow for accessibility */
}

input{
  display:flex;
  flex-direction: column;
}
  


  