/* sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Left align items */
    padding: 40px; /* Add padding to the sidebar */
    background-color: #012a2d; /* Background color */
    border-right: 2px solid black;
    height: 88.5vh; 
  }
  
  .sidebar h2 {
    margin: 0 0 20px; /* Adjust margin for heading */
    width: 100%; /* Make heading full width */
    text-align: left; /* Left justify the text */
  }
  
  .sidebar ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    width: 100%; /* Make ul full width */
  }
  
  .sidebar li {
    width: 100%; /* Make li full width to match buttons */
    display: flex; /* Enable flex on li for centering */
    justify-content: flex-start; /* Align buttons to the left */
  }
  
  .btn {
    padding: 10px 15px; /* Add padding to buttons */
    font-size: 16px; /* Adjust font size */
    width: 100%; /* Set button width to 60% */
    cursor: pointer; /* Change cursor on hover */
    margin-bottom: 5px; /* Small space between buttons */
  }
  
  .btn-secondary {
    background-color: #28a745; /* Button background color - green */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .btn-secondary:hover {
    background-color: #218838; /* Darker green on hover */
  }
  